doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    header
        nav
                a(href="/myself") Myself |
                a(href="/dad") Dad |
                a(href="/mom") Mom |
                a(href="/sister") Sister
    block content